.ref-card {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    height: 100%;
    /* background-image: radial-gradient(203.82% 246.31% at 149.17% -96%, rgb(152 145 173) 0%, rgb(83 128 150) 53.14%, rgb(19 21 41) 91.43%); */

}

/* when a radio button is set, swing the corresponding card fowards */
#happy-radio:checked~.selector .happy-card,
#lovers-radio:checked~.selector .lovers-card {
    animation-name: swing-forwards;
}

@keyframes swing-forwards {
    0% {
        z-index: 1;
        /* start behind other card */
        transform: scale(0.9);
    }

    50% {
        transform: translateX(var(--swing));
    }

    100% {
        z-index: 2;
        /* end in front of other card */
        transform: translateX(var(--overlap)) scale(1.1);
    }
}

.s2 {
    /* these values are used to animate via translateX */
    --swing: 50%;
    --overlap: 14%;
}

/* when a radio button is set, swing the opposite card backwards */
#s1:checked~.s2 {
    animation-name: swing-backwards;
}

@keyframes swing-backwards {
    0% {
        z-index: 2;
        /* start in front of other card */
        transform: translateX(var(--overlap)) scale(1.1);
    }

    50% {
        transform: translateX(var(--swing));
    }

    100% {
        z-index: 1;
        /* end behind other card */
        transform: translateX(var(--overlap)) scale(0.95);
        background-color: red;
    }
}



/* .s1 {
    transform: translate3d(0%, 0%, 17px);
    height: 100%;
    z-index: 6;
}

.s2 {
    transform: translate3d(14%, 2.5%, 17px);
    height: 95%;
    z-index: 5;
}

.s3 {
    transform: translate3d(25%, 7%, 17px);
    height: 88%;
    z-index: 4;
}

.s4 {
    transform: translate3d(35%, 11%, 17px);
    height: 82%;
    z-index: 3;
}

.s5 {
    transform: translate3d(43%, 17%, 17px);
    height: 75%;
    z-index: 2;
}

.s6 {
    transform: translate3d(49%, 22%, 17px);
    height: 69%;
    z-index: 1;
} */

/* #s1:checked~.s1,
#s2:checked~.s2,
#s3:checked~.s3,
#s4:checked~.s4,
#s5:checked~.s5,
#s6:checked~.s6 {
    z-index: 6;
} */