.aniket {
    /* box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19); */
    background-image: radial-gradient(203.82% 246.31% at 149.17% -96%, rgba(152, 145, 173, 0.50) 0%, rgba(83, 128, 150, 0.50) 53.14%, rgba(19, 21, 41, 0.50) 91.43%);
}

.carusal-container {
    background: radial-gradient(67.33% 85% at 52.78% 12.44%, #9891AD 0%, #538096 22.18%, #3C566E 42.75%, #131529 89.23%);

}

/* .activeCard {
    background-image: radial-gradient(203.82% 246.31% at 149.17% -96%, rgb(152 145 173) 0%, rgb(83 128 150) 53.14%, rgb(19 21 41) 91.43%) !important;
} */


/* #s1:checked~.s1,
#s2:checked~.s2,
#s3:checked~.s3,
#s4:checked~.s4,
#s5:checked~.s5,
#s6:checked~.s6 {
    transform: translate3d(0, 0, -100px) !important;
    height: 100% !important;
    background-image: radial-gradient(203.82% 246.31% at 149.17% -96%, rgb(152 145 173) 0%, rgb(83 128 150) 53.14%, rgb(19 21 41) 91.43%) !important;
    z-index: 7 !important;
}

#s2:checked~.s1,
#s3:checked~.s2,
#s4:checked~.s3,
#s5:checked~.s4,
#s6:checked~.s5 {
    transform: translate3d(-14%, 2.5%, -100px) !important;
    height: 95% !important;
    z-index: 5 !important;
}

#s3:checked~.s1,
#s4:checked~.s2,
#s5:checked~.s3,
#s6:checked~.s4 {
    transform: translate3d(-25%, 7%, -100px) !important;
    height: 88% !important;
    z-index: 4 !important;
}

#s4:checked~.s1,
#s5:checked~.s2,
#s6:checked~.s3 {
    transform: translate3d(-35%, 11%, -100px) !important;
    height: 82% !important;
    z-index: 3 !important;
}

#s5:checked~.s1,
#s6:checked~.s2 {
    transform: translate3d(-43%, 17%, -100px) !important;
    height: 75% !important;
    z-index: 2 !important;
}

#s6:checked~.s1 {
    transform: translate3d(-49%, 22%, -100px) !important;
    height: 69% !important;
    z-index: 1 !important;
}

#s2:checked~.s3,
#s3:checked~.s4,
#s4:checked~.s5,
#s5:checked~.s6 {
    transform: translate3d(14%, 2.5%, -100px) !important;
    height: 95% !important;
    z-index: 5 !important;
}


#s2:checked~.s4,
#s3:checked~.s5,
#s4:checked~.s6 {
    transform: translate3d(24%, 7%, -100px) !important;
    height: 88% !important;
    z-index: 4 !important;
}


#s2:checked~.s5,
#s3:checked~.s6 {
    transform: translate3d(35%, 11%, -100px) !important;
    height: 82% !important;
    z-index: 3 !important;
}

#s2:checked~.s6 {
    transform: translate3d(43%, 17%, -100px) !important;
    height: 75% !important;
    z-index: 2 !important;
} */









/* #s1:checked~.s1,
#s2:checked~.s2,
#s3:checked~.s3,
#s4:checked~.s4,
#s5:checked~.s5,
#s6:checked~.s6 {
    transform: translate3d(0, 0, -100px) !important;
    height: 100% !important;
    background-image: radial-gradient(203.82% 246.31% at 149.17% -96%, rgb(152 145 173) 0%, rgb(83 128 150) 53.14%, rgb(19 21 41) 91.43%) !important;
    z-index: 7 !important;
} */



/* #s1:checked~.s1,
#s2:checked~.s2,
#s3:checked~.s3,
#s4:checked~.s4,
#s5:checked~.s5,
#s6:checked~.s6 {
    transform: translate3d(0, 0, -100px) !important;
    height: 100% !important;
    background-image: radial-gradient(203.82% 246.31% at 149.17% -96%, rgb(152 145 173) 0%, rgb(83 128 150) 53.14%, rgb(19 21 41) 91.43%) !important;
    z-index: 7 !important;
    animation-name: swing-forwards;
}



#s2:checked~.s1,
#s3:checked~.s2,
#s4:checked~.s3,
#s5:checked~.s4,
#s6:checked~.s5 {
    transform: translate3d(-14%, 2.5%, -100px) !important;
    height: 95% !important;
    z-index: 5 !important;
}

#s3:checked~.s1,
#s4:checked~.s2,
#s5:checked~.s3,
#s6:checked~.s4 {
    transform: translate3d(-25%, 7%, -100px) !important;
    height: 88% !important;
    z-index: 4 !important;
}

#s4:checked~.s1,
#s5:checked~.s2,
#s6:checked~.s3 {
    transform: translate3d(-35%, 11%, -100px) !important;
    height: 82% !important;
    z-index: 3 !important;
}

#s5:checked~.s1,
#s6:checked~.s2 {
    transform: translate3d(-43%, 17%, -100px) !important;
    height: 75% !important;
    z-index: 2 !important;
}

#s6:checked~.s1 {
    transform: translate3d(-49%, 22%, -100px) !important;
    height: 69% !important;
    z-index: 1 !important;
}

#s2:checked~.s3,
#s3:checked~.s4,
#s4:checked~.s5,
#s5:checked~.s6 {
    transform: translate3d(14%, 2.5%, -100px) !important;
    height: 95% !important;
    z-index: 5 !important;

}

#s2:checked~.s4,
#s3:checked~.s5,
#s4:checked~.s6 {
    transform: translate3d(24%, 7%, -100px) !important;
    height: 88% !important;
    z-index: 4 !important;
}


#s2:checked~.s5,
#s3:checked~.s6 {
    transform: translate3d(35%, 11%, -100px) !important;
    height: 82% !important;
    z-index: 3 !important;
}

#s2:checked~.s6 {
    transform: translate3d(43%, 17%, -100px) !important;
    height: 75% !important;
    z-index: 2 !important;
} */


















[type=radio] {
    display: none;
}

#slider {
    height: 30vw;
    width: 40vw;
    margin: 0 auto;
    left: -10%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    /* background-color: aliceblue; */
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

























#s1:checked~#slide3,
#s2:checked~#slide1,
#s3:checked~#slide2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-50%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(50%, 0, -100px);
}